<div class="body">
  <form #empleadoForm="ngForm" (ngSubmit)="guardar(empleadoForm)">
    <!--Botones -->
    <section id="actions" class="py-4 mb-4 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a routerLink="/" class="btn btn-light btn-block"
              ><i class="fas fa-arrow-left"></i>Regresar al inicio</a
            >
          </div>
          <div class="col-md-3">
            <button type="submit" class="btn btn-success btn-block">
              <i class="fas fa-check"></i>Guardar cliente
            </button>
          </div>
          <div class="col-md-3">
            <!--<a href="#" (click)="eliminar()" class="btn btn-danger btn-block"
            ><i class="fas fa-trash"></i>Eliminar cliente</a
          >-->
          </div>
        </div>
      </div>
    </section>
    <section id="details">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header">
                <h4>Editar empleado</h4>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input
                    type="text"
                    name="nombre"
                    class="form-control"
                    #nombre="ngModel"
                    [(ngModel)]="empleado!.nombre"
                    [ngClass]="{
                      'is-invalid': nombre.errors && nombre.touched
                    }"
                    required
                    minlength="2"
                  />
                  <div
                    [hidden]="!nombre.errors?.['required']"
                    class="invalid-feedback"
                  >
                    Nombre requerido
                  </div>
                  <div
                    [hidden]="!nombre.errors?.['minlength']"
                    class="invalid-feedback"
                  >
                    Debe contener al menos 2 caracteres
                  </div>
                </div>
                <div class="form-group">
                  <label for="nombre">Apellido</label>
                  <input
                    type="text"
                    name="apellido"
                    class="form-control"
                    #apellido="ngModel"
                    [(ngModel)]="empleado!.apellido"
                    [ngClass]="{
                      'is-invalid': apellido.errors && apellido.touched
                    }"
                    required
                    minlength="2"
                  />
                  <div
                    [hidden]="!apellido.errors?.['required']"
                    class="invalid-feedback"
                  >
                    Apellido requerido
                  </div>
                  <div
                    [hidden]="!apellido.errors?.['minlength']"
                    class="invalid-feedback"
                  >
                    Debe contener al menos 2 caracteres
                  </div>
                </div>
                <div class="form-group">
                  <label for="nombre">Email</label>
                  <input
                    type="email"
                    name="email"
                    class="form-control"
                    #email="ngModel"
                    [(ngModel)]="empleado!.correo"
                    [ngClass]="{ 'is-invalid': email.errors && email.touched }"
                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$"
                    required
                  />
                  <div
                    [hidden]="!email.errors?.['required']"
                    class="invalid-feedback"
                  >
                    Email requerido
                  </div>
                  <div
                    [hidden]="!email.errors?.['pattern']"
                    class="invalid-feedback"
                  >
                    Email no valido
                  </div>
                </div>
                <div class="form-group">
                  <label for="nombre">Cedula</label>
                  <input
                    type="text"
                    name="cedula"
                    class="form-control"
                    #cedula="ngModel"
                    [(ngModel)]="empleado!.cedula"
                    [ngClass]="{
                      'is-invalid': cedula.errors && cedula.touched
                    }"
                    required
                    minlength="9"
                    maxlength="9"
                  />
                  <div
                    [hidden]="!cedula.errors?.['required']"
                    class="invalid-feedback"
                  >
                    Cedula requerida
                  </div>
                </div>
                <div class="form-group">
                  <label for="numTelefono">Numero de telefono</label>
                  <input
                    type="text"
                    name="numTelefono"
                    class="form-control"
                    #numTelefono="ngModel"
                    [(ngModel)]="empleado!.numTelefono"
                    [ngClass]="{
                      'is-invalid': numTelefono.errors && numTelefono.touched
                    }"
                    required
                    minlength="8"
                    maxlength="8"
                  />
                  <div
                    [hidden]="!numTelefono.errors?.['required']"
                    class="invalid-feedback"
                  >
                    Numero de telefono requerido
                  </div>
                </div>
                <div class="form-control">
                  <label for="salario">Salario</label>
                  <input
                    type="number"
                    name="salario"
                    class="form-control"
                    #salario="ngModel"
                    [(ngModel)]="empleado!.salario"
                    [ngClass]="{
                      'is-invalid': salario.errors && salario.touched
                    }"
                    required
                    min="0"
                  />
                  <div
                    [hidden]="!salario.errors?.['required']"
                    class="invalid-feedback"
                  >
                    Salario requerido
                  </div>
                </div>
                <div class="form-group">
                  <label for="fechaContrato">Fecha de contrato</label>
                  <input
                    type="date"
                    name="fechaContrato"
                    class="form-control"
                    #fechaContrato="ngModel"
                    [(ngModel)]="empleado!.fechaContrato"
                    [ngClass]="{
                      'is-invalid':
                        fechaContrato.errors && fechaContrato.touched
                    }"
                    required
                  />
                  <div
                    [hidden]="!fechaContrato.errors?.['required']"
                    class="invalid-feedback"
                  >
                    Fecha de contrato requerida
                  </div>
                </div>
                <div class="form-group">
                  <label for="multiplex">Multiplex</label>
                  <select
                    name="multiplex"
                    class="form-control"
                    #multiplex="ngModel"
                    [(ngModel)]="empleado!.multiplex"
                    [ngClass]="{
                      'is-invalid': multiplex.errors && multiplex.touched
                    }"
                    required
                  >
                    <option value="" disabled selected>
                      Seleccione un multiplex
                    </option>
                    <option
                      *ngFor="let multiplex of multiplexes"
                      [value]="multiplex.id"
                    >
                      {{ multiplex.nombre }}
                    </option>
                  </select>
                  <div
                    [hidden]="!multiplex.errors?.['required']"
                    class="invalid-feedback"
                  >
                    Multiplex requerido
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>
