<link
  href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Monoton&display=swap"
  rel="stylesheet"
/>

<header class="header">
  <nav class="nav container" id="myTopnav">
    <ul class="nav__link nav__link--menu">
      <li class="titulo">
        <a href="" class="nav__links">Cine Distrito</a>
      </li>
      <li class="nav__items">
        <a href="" class="nav__links">Estrenos</a>
      </li>
      <li class="nav__items">
        <a href="" class="nav__links">Confitería</a>
      </li>
      <li class="nav__items">
        <a href="" class="nav__links">Cuenta</a>
      </li>
      <li class="nav__items">
        <a href="" class="nav__links">Carrito</a>
      </li>
      <li class="nav__items" *ngIf="!isLogged">
        <a routerLink="/login" class="nav__links">Loging</a>
      </li>
      <i *ngIf="isLogged" class="nav__items">Bienvenido {{ loggedUser }}</i>
      <li *ngIf="isLogged" class="nav__items">
        <a style="cursor: pointer" (click)="logOut()" class="nav-link">
          <i class="fas fa-user-times">Salir</i>
        </a>
      </li>
    </ul>
  </nav>
</header>
