*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: #ffffff73;
}
.titulo{
    font-family: 'Rubik';
    padding-left: 5%;
    padding-top: 5%;
    width: 100%;
    height: 10%;
}
.cuerpo{
    display: flex;
}
.container{
    height: auto;
    margin-left: 5%;
    padding-top: 3%;
    flex: 1;
    flex-grow: 0.3;
}
.multiplex{
    height: auto;
    margin-left: 5%;
    padding-top: 4%;
    background-color: blue;
    flex: 1;
    background-color: #e0e0e0;
    padding: 20px;
    margin-right: 10px;
}
#tabla1{
    color: #ffffff;
    font-size: 12px;
    border-collapse: collapse;
    overflow: hidden;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}
thead{
    background: #8e6ddb80;
}
th{
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}
td{
    padding: 15px;
    border-bottom: solid 1px #ffffff59;
    width: 100px;
}
tbody tr{
    cursor: pointer;
}
tbody tr:hover{
    background: #8e6ddb80;
}
#tabla1 td{
    word-wrap: break-word;
}
