<link
  href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Monoton&display=swap"
  rel="stylesheet"
/>

<div class="body">
  <div class="titulo">
    <h1>Lista de Multiplex registrados</h1>
  </div>
  <div class="cuerpo">
    <div class="container">
      <div class="boton">
        <button (click)="agregarMultiplex()">Nuevo</button>
      </div>
      <table class="tabla" id="tabla1">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let multiplex of multiplexes"
            (click)="mostrarSalas(multiplex)"
          >
            <td>{{ multiplex.nombre }}</td>
            <td>{{ multiplex.direccion }}</td>
            <td>
              <button (click)="editarMultiplex(multiplex)">Editar</button>
              <button (click)="eliminarMultiplex(multiplex)">Borrar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="multiplex">
      <div class="boton">
        <button (click)="agregarSala()">Nuevo</button>
      </div>
      <table class="tabla" id="tabla2">
        <thead>
          <tr>
            <th>Salas</th>
            <th>Capacidad</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sala of salas" (click)="mostrartFunciones(sala)">
            <td>{{ sala.numero }}</td>
            <td>{{ sala.sillas.length }}</td>
            <td>
              <button (click)="editarSala(sala)">Editar</button>
              <button (click)="eliminarSala(sala)">Borrar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="multiplex">
      <div class="boton">
        <button (click)="agregarFuncion()">Nuevo</button>
      </div>
      <table class="tabla" id="tabla3">
        <thead>
          <tr>
            <th>Funciones</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let funcion of funciones">
            <td>{{ funcion.id }}</td>
            <td>
              <button>Editar</button>
              <button>Borrar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
