<link
  href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Monoton&display=swap"
  rel="stylesheet"
/>

<div class="body">
    <div class="titulo">
        <h1>Lista de Multiplex registrados</h1>
    </div>
    <div class="cuerpo">
        <div class="container">
            <table id="tabla1">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Dirección</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Centro Comercial</td>
                        <td>Dondetuputamadre</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="multiplex">
            Aqui se muestran los multiplex juasjuas
        </div>
    </div>
    
</div>