<link
  href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Monoton&display=swap"
  rel="stylesheet"
/>

<div class="body">
  <div class="titulo">
    <h1>Funciones del mes</h1>
  </div>
  <div class="cards" *ngFor="let pelicula of peliculas">
    <div class="image">
      <img src="{{ pelicula.urlPelicula }}" />
    </div>
    <div class="title">
      <h1>{{ pelicula.nombre }}</h1>
    </div>
    <div class="desc">
      <p>{{ pelicula.sinopsis }}</p>
      <button class="boton" routerLink="/funciones">Ver funciones</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
