<div class = "body">
    <div class = "sidebar">
        <ul>
            <li>
                <a class = "btn btn-primary boton-menu" [routerLink] = "['empleados']">Empleados</a>
            </li>
            <li>
                <button class = "btn btn-primary boton-menu" [routerLink] = "['multiplex']">Multiplex</button>
            </li>
            <li>
                <button class = "btn btn-primary boton-menu" [routerLink] = "['peliculas']">Peliculas</button>
            </li>
        </ul>
    </div>
    <div class="ventana">
        <router-outlet></router-outlet>
    </div>
</div>