<div class="body">
  <form #salaForm="ngForm" (ngSubmit)="guardar(salaForm)">
    <!--Botones -->
    <section id="actions" class="py-4 mb-4 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a routerLink="/" class="btn btn-light btn-block"
              ><i class="fas fa-arrow-left"></i>Regresar al inicio</a
            >
          </div>
          <div class="col-md-3">
            <button type="submit" class="btn btn-success btn-block">
              <i class="fas fa-check"></i>Guardar cliente
            </button>
          </div>
          <div class="col-md-3">
            <!--<a href="#" (click)="eliminar()" class="btn btn-danger btn-block"
            ><i class="fas fa-trash"></i>Eliminar cliente</a
          >-->
          </div>
        </div>
      </div>
    </section>
    <section id="details">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header">
                <h4>Editar sala</h4>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="numero">Número de sala </label>
                  <input
                    type="text"
                    name="numero"
                    class="form-control"
                    #numero="ngModel"
                    [(ngModel)]="sala!.numero"
                    [ngClass]="{
                      'is-invalid': numero.errors && numero.touched
                    }"
                    required
                    value="{{ sala?.numero }}"
                  />
                  <div
                    [hidden]="!numero.errors?.['required']"
                    class="invalid-feedback"
                  >
                    Número requerido
                  </div>
                </div>
                <div class="card-body">
                  <div class="form-group">
                    <label for="cantidadFilas">Cantidad de filas </label>
                    <input
                      type="text"
                      name="cantidadFilas"
                      class="form-control"
                      #cantidadFilas="ngModel"
                      [(ngModel)]="filas"
                      [ngClass]="{
                        'is-invalid':
                          cantidadFilas.errors && cantidadFilas.touched
                      }"
                      required
                    />
                    <div
                      [hidden]="!cantidadFilas.errors?.['required']"
                      class="invalid-feedback"
                    >
                      Cantidad de filas requerida
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="form-group">
                    <label for="asientosPorFila2">Asientos por fila </label>
                    <input
                      type="number"
                      name="asientosPorFila2"
                      class="form-control"
                      #asientosPorFila2="ngModel"
                      [(ngModel)]="asientosPorFila"
                      [ngClass]="{
                        'is-invalid':
                          asientosPorFila2.errors && asientosPorFila2.touched
                      }"
                      required
                    />
                    <div
                      [hidden]="!asientosPorFila2.errors?.['required']"
                      class="invalid-feedback"
                    >
                      Asientos por fila requeridos
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>
