<link
  href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Monoton&display=swap"
  rel="stylesheet"
/>
<app-navbar></app-navbar>
<div id="conteItemsCarrusel">
  <div
    *ngFor="let pelicula of peliculas; let i = index"
    class="itemCarrusel"
    id="itemCarrusel-{{ i + 1 }}"
  >
    <div class="tarjetaCarrusel" id="tarjetaCarrusel-{{ i + 1 }}">
      <img src="/assets/promo.jpg" alt="" />
    </div>
    <div class="flechasCarrusel">
      <a href="#itemCarrusel-{{ i }}" class="flechas">
        <i>❮</i>
      </a>
      <a href="#itemCarrusel-{{ i + 2 }}" class="flechas">
        <i>❯</i>
      </a>
    </div>
  </div>
</div>
<app-catalog></app-catalog>
<app-footer></app-footer>
