<link
  href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Monoton&display=swap"
  rel="stylesheet"
/>

<div id="conteItemsCarrusel">
  <div class="itemCarrusel" id="itemCarrusel-1">
    <div class="tarjetaCarrusel" id="tarjetaCarrusel-1">
      <img src="/assets/prueba1.jpg" alt="" />
    </div>
    <div class="flechasCarrusel">
      <a href="#itemCarrusel-4" class="flechas">
        <i>❮</i>
      </a>
      <a href="#itemCarrusel-2" class="flechas">
        <i>❯</i>
      </a>
    </div>
  </div>
  <div class="itemCarrusel" id="itemCarrusel-2">
    <div class="tarjetaCarrusel" id="tarjetaCarrusel-2">
      <img src="/assets/prueba2.jpeg" alt="" />
    </div>
    <div class="flechasCarrusel">
      <a href="#itemCarrusel-1" class="flechas">
        <i>❮</i>
      </a>
      <a href="#itemCarrusel-3" class="flechas">
        <i>❯</i>
      </a>
    </div>
  </div>
  <div class="itemCarrusel" id="itemCarrusel-3">
    <div class="tarjetaCarrusel" id="tarjetaCarrusel-3">
      <img src="/assets/prueba3.jpg" alt="" />
    </div>
    <div class="flechasCarrusel">
      <a href="#itemCarrusel-2" class="flechas">
        <i>❮</i>
      </a>
      <a href="#itemCarrusel-4" class="flechas">
        <i>❯</i>
      </a>
    </div>
  </div>
  <div class="itemCarrusel" id="itemCarrusel-4">
    <div class="tarjetaCarrusel" id="tarjetaCarrusel-4">
      <img src="/assets/prueba4.jpg" alt="" />
    </div>
    <div class="flechasCarrusel">
      <a href="#itemCarrusel-3" class="flechas">
        <i>❮</i>
      </a>
      <a href="#itemCarrusel-1" class="flechas">
        <i>❯</i>
      </a>
    </div>
  </div>
</div>
<app-catalog></app-catalog>
