<link
  href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Monoton&display=swap"
  rel="stylesheet"
/>

<div class="body">
    <h1>Lista de peliculas</h1>
    <div class="container">
        <table id="tabla1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Sinopsis</th>
                    <th>Director</th>
                    <th>Genero</th>
                    <th>Duración</th>
                    <th>Clasificación</th>
                    <th>Estado</th>
                    <th>URL</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Aaaaaaaaaaaa</td>
                    <td>aafdgdsssssgfdgfdgffffffffffgfgdaga</td>
                    <td>fdsafasdfdasfafas</td>
                    <td>fffffffff</td>
                    <td>a</td>
                    <td>a</td>
                    <td>a</td>
                    <td>a</td>
                    <td>Botton</td>
                    <td>Botton</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>