<div class="body">
  <form #peliculaForm="ngForm" (ngSubmit)="guardar(peliculaForm)">
    <!--Botones -->
    <section id="actions" class="py-4 mb-4 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a routerLink="/" class="btn btn-light btn-block"
              ><i class="fas fa-arrow-left"></i>Regresar al inicio</a
            >
          </div>
          <div class="col-md-3">
            <button type="submit" class="btn btn-success btn-block">
              <i class="fas fa-check"></i>Guardar pelicula
            </button>
          </div>
          <div class="col-md-3">
            <!--<a href="#" (click)="eliminar()" class="btn btn-danger btn-block"
            ><i class="fas fa-trash"></i>Eliminar cliente</a
          >-->
          </div>
        </div>
      </div>
    </section>
    <section id="details">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header">
                <h4>Editar pelicula</h4>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input
                    type="text"
                    name="nombre"
                    class="form-control"
                    #nombre="ngModel"
                    [(ngModel)]="pelicula!.nombre"
                    [ngClass]="{
                      'is-invalid': nombre.errors && nombre.touched
                    }"
                    required
                    minlength="2"
                    value="{{ pelicula?.nombre }}"
                  />
                  <div
                    [hidden]="!nombre.errors?.['required']"
                    class="invalid-feedback"
                  >
                    Nombre requerido
                  </div>
                  <div
                    [hidden]="!nombre.errors?.['minlength']"
                    class="invalid-feedback"
                  >
                    Debe contener al menos 2 caracteres
                  </div>
                </div>
                <div class="form-group">
                  <label for="sinopsis">Sinopsis</label>
                  <input
                    type="text"
                    name="sinopsis"
                    class="form-control"
                    #sinopsis="ngModel"
                    [(ngModel)]="pelicula!.sinopsis"
                    [ngClass]="{
                      'is-invalid': sinopsis.errors && sinopsis.touched
                    }"
                    required
                    minlength="2"
                    value="{{ pelicula?.sinopsis }}"
                  />
                  <div
                    [hidden]="!sinopsis.errors?.['required']"
                    class="invalid-feedback"
                  >
                    Sinopsis requerida
                  </div>
                  <div
                    [hidden]="!sinopsis.errors?.['minlength']"
                    class="invalid-feedback"
                  >
                    Debe contener al menos 2 caracteres
                  </div>
                </div>
                <div class="form-group">
                  <label for="director">Director</label>
                  <input
                    type="text"
                    name="director"
                    class="form-control"
                    #director="ngModel"
                    [(ngModel)]="pelicula!.director"
                    [ngClass]="{
                      'is-invalid': director.errors && director.touched
                    }"
                    required
                    minlength="2"
                    value="{{ pelicula?.director }}"
                  />
                  <div
                    [hidden]="!director.errors?.['required']"
                    class="invalid-feedback"
                  >
                    Director requerido
                  </div>
                  <div
                    [hidden]="!director.errors?.['minlength']"
                    class="invalid-feedback"
                  >
                    Debe contener al menos 2 caracteres
                  </div>
                </div>
                <div class="form-group-genero">
                  <label class="titulo" for="genero">Genero</label>
                  <div class="checkbox-container">
                    <div class="checkbox" *ngFor="let genero of generos">
                      <label>
                        <input
                          type="checkbox"
                          [(ngModel)]="genero.seleccionado"
                          (change)="toggleSeleccion(genero)"
                          [ngModelOptions]="{ standalone: true }"
                        />
                        {{ genero.nombre }}
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="duración">Duración</label>
                  <input
                    type="number"
                    name="duracion"
                    class="form-control"
                    #duracion="ngModel"
                    [(ngModel)]="pelicula!.duracion"
                    [ngClass]="{
                      'is-invalid': duracion.errors && duracion.touched
                    }"
                    required
                    value="{{ pelicula?.duracion }}"
                  />
                  <div
                    [hidden]="!duracion.errors?.['required']"
                    class="invalid-feedback"
                  >
                    Duración requerida
                  </div>
                </div>
                <div class="form-group">
                  <label for="clasificacion">clasificacion edad</label>
                  <select
                    name="clasificacionEdad"
                    class="form-control"
                    #clasificacion="ngModel"
                    [(ngModel)]="pelicula!.clasificacionEdad"
                    [ngClass]="{
                      'is-invalid':
                        clasificacion.errors && clasificacion.touched
                    }"
                    required
                    value="{{ pelicula?.clasificacionEdad }}"
                  >
                    <option
                      value="{{ pelicula?.clasificacionEdad }}"
                      selected
                      *ngIf="isEdit"
                    >
                      {{ pelicula?.clasificacionEdad }}
                    </option>
                    <option value="E">E</option>
                    <option value="7+">7+</option>
                    <option value="12+">12+</option>
                    <option value="15+">15+</option>
                    <option value="18+">18+</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="estado">Estado</label>
                  <select
                    name="estado"
                    class="form-control"
                    #estado="ngModel"
                    [(ngModel)]="pelicula!.estado"
                    [ngClass]="{
                      'is-invalid': estado.errors && estado.touched
                    }"
                    required
                    value="{{ pelicula?.estado }}"
                  >
                    <option
                      value="{{ pelicula?.estado }}"
                      selected
                      *ngIf="isEdit"
                    >
                      {{ pelicula?.estado }}
                    </option>
                    <option value="Activa">Activa</option>
                    <option value="Inactiva">Inactiva</option>
                    <option value="Proximamente">Proximamente</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="urlPelicula"
                    >Url Pelicula, ingrese un link de la imagen de la
                    pelicula</label
                  >
                  <input
                    type="text"
                    name="urlPelicula"
                    class="form-control"
                    #urlPelicula="ngModel"
                    [(ngModel)]="pelicula!.urlPelicula"
                    [ngClass]="{
                      'is-invalid': urlPelicula.errors && urlPelicula.touched
                    }"
                    required
                    value="{{ pelicula?.urlPelicula }}"
                  />
                  <div
                    [hidden]="!urlPelicula.errors?.['required']"
                    class="invalid-feedback"
                  >
                    Url requerida
                  </div>
                  A continuación se muestra la imagen de la pelicula, si no se
                  muestra la imagen, es porque la url no es correcta.
                  <br />
                  <img
                    src="{{ pelicula?.urlPelicula }}"
                    alt="Imagen de la pelicula"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>
