<app-navbar></app-navbar>
<div class="body">
    <div class="image">
        <img src="/assets/prueba1.jpg">
    </div>
    <div class="container">
        <div class="titulo">
            Aqui va el titulo de la peli
        </div>
        <div class="desc">
            Aqui la descripcion, datos, etc
        </div>
        <div class="funciones">
            <p class="texto">Escoge tu multiplex:</p>
            <select class="multiplex" name="multiplex" id=""> 
                <option value="">CC 1</option>
                <option value="">CC 2</option>
                <option value="">CC 3</option>
            </select>
        </div>
        <div class="teatro">
            <img src="/assets/sillas.png">
        </div>
    </div>
    <div class="carrusel">
        <app-carrusel></app-carrusel>
    </div>
</div>
<app-footer></app-footer>