<app-navbar></app-navbar>
<div class="body">
  <div class="image">
    <img src="{{ pelicula.urlPelicula }}" />
  </div>
  <div class="container">
    <div class="titulo">
      {{ pelicula.nombre }}
    </div>
    <div class="desc">
      {{ pelicula.sinopsis }}
      <br />
      Duracion: {{ pelicula.duracion }}
      <br />
      Generos: {{ pelicula.genero }}
    </div>
    <div class="funciones">
      <p class="texto">Escoge tu multiplex:</p>
      <select
        class="select"
        name="multiplexS"
        #multiplexS="ngModel"
        [(ngModel)]="multiplex"
        (change)="buscarFunciones()"
      >
        <option
          *ngFor="let multiplex of multiplexes"
          value="{{ multiplex.nombre }}"
        >
          {{ multiplex.nombre }}
        </option>
      </select>
      <p class="texto">Escoge la fecha de la función que deseas:</p>
      <button
        class="boton"
        *ngFor="let funcion of funciones"
        (click)="buscarSala(funcion)"
      >
        {{ convertirFecha(funcion.id) }}
      </button>
      <button class="boton" (click)="mostrarSillas()">Escoge tu silla</button>
      <div class="checkbox-container">
        <div class="checkbox" *ngFor="let silla of sillasMostrar">
          <label>
            <input
              type="checkbox"
              [(ngModel)]="silla.ocupada"
              (change)="toggleSeleccion(silla)"
              [ngModelOptions]="{ standalone: true }"
            />
            {{ silla.silla }}
          </label>
        </div>
      </div>
      <div class="teatro">
        <img src="/assets/sillas.png" />
      </div>
    </div>
    <div class="carrusel">
      <app-carrusel></app-carrusel>
    </div>
  </div>
  <app-footer></app-footer>
</div>
