<link
  href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Monoton&display=swap"
  rel="stylesheet"
/>

<div class="body">
    <h1>Lista de empleados</h1>
    <div class="container">
        <table id="tabla1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cedula</th>
                    <th>Multiplex</th>
                    <th>Telefono</th>
                    <th>Salario</th>
                    <th>Fecha de Contrato</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Rupertina</td>
                    <td>Hernandez</td>
                    <td>1071458963</td>
                    <td>Multiplaza</td>
                    <td>3548965488</td>
                    <td>700.000</td>
                    <td>18/05/2023</td>
                    <td>Botton</td>
                    <td>Botton</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>