*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: #ffffff73;
    width: 100%;
    height: 100%;
    display: block;
}
h1{
    font-family: 'Rubik';
    padding-left: 5%;
    padding-top: 5%;
}
.container{
    width: auto;
    height: auto;
}
table{
    color: #ffffff;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 5%;
}
thead{
    background: #5acab280;
}
th{
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}
td{
    padding: 15px;
    border-bottom: solid 1px #ffffff59;
}
tbody tr{
    cursor: pointer;
}
tbody tr:hover{
    background: #5acab280;
}