*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    background-color: #ffffff73;
}
h1{
    font-family: 'Rubik';
    padding-left: 5%;
    padding-top: 5%;
}
.container{
    width: 100%;
    height: auto;
}
#tabla1{
    color: #ffffff;
    font-size: 12px;
    border-collapse: collapse;
    margin: 5%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}
thead{
    background: #6ddb9780;
}
th{
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}
td{
    padding: 15px;
    border-bottom: solid 1px #ffffff59;
    width: 100px;
}
tbody tr{
    cursor: pointer;
}
tbody tr:hover{
    background: #6ddb9780;
}
#tabla1 td{
    word-wrap: break-word;
}