<div class="body">
  <form #multiplexForm="ngForm" (ngSubmit)="guardar(multiplexForm)">
    <!--Botones -->
    <section id="actions" class="py-4 mb-4 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a routerLink="/" class="btn btn-light btn-block"
              ><i class="fas fa-arrow-left"></i>Regresar al inicio</a
            >
          </div>
          <div class="col-md-3">
            <button type="submit" class="btn btn-success btn-block">
              <i class="fas fa-check"></i>Guardar multiplex
            </button>
          </div>
          <div class="col-md-3">
            <!--<a href="#" (click)="eliminar()" class="btn btn-danger btn-block"
            ><i class="fas fa-trash"></i>Eliminar cliente</a
          >-->
          </div>
        </div>
      </div>
    </section>
    <section id="details">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header">
                <h4>Editar empleado</h4>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input
                    type="text"
                    name="nombre"
                    class="form-control"
                    #nombre="ngModel"
                    [(ngModel)]="multiplex!.nombre"
                    [ngClass]="{
                      'is-invalid': nombre.errors && nombre.touched
                    }"
                    required
                    minlength="2"
                    value="{{ multiplex?.nombre }}"
                  />
                  <div
                    [hidden]="!nombre.errors?.['required']"
                    class="invalid-feedback"
                  >
                    Nombre requerido
                  </div>
                  <div
                    [hidden]="!nombre.errors?.['minlength']"
                    class="invalid-feedback"
                  >
                    Debe contener al menos 2 caracteres
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="direccion">Dirección</label>
                  <input
                    type="text"
                    name="direccion"
                    class="form-control"
                    #direccion="ngModel"
                    [(ngModel)]="multiplex!.direccion"
                    [ngClass]="{
                      'is-invalid': direccion.errors && direccion.touched
                    }"
                    required
                    minlength="2"
                    value="{{ multiplex?.direccion }}"
                  />
                  <div
                    [hidden]="!direccion.errors?.['required']"
                    class="invalid-feedback"
                  >
                    Dirección requerida
                  </div>
                  <div
                    [hidden]="!direccion.errors?.['minlength']"
                    class="invalid-feedback"
                  >
                    Debe contener al menos 2 caracteres
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>
