<app-navbar></app-navbar>
<div class="body">
    <div class="carrito">
        <div class="titulo">
            <h1>Resumen da la compra</h1>
        </div>
        <div class="tabla">
            <table id="tabla">
                <thead>
                    <tr>
                        <th>Funcion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf = "cargado">
                        <div>
                            <p style = "font-size: 20px; font-weight: bold;">Pelicula: {{compra.nomPeli}}</p>
                            <p style = "font-size: 15px; font-weight: bold;">{{compra.multiplex}}</p>
                            <p style="font-size: 13px;font-weight: bold;">hora de la funcion</p>
                            <p style="font-size: 12px;">{{compra.hora}}</p>
                            <p style="font-size: 13px;font-weight: bold;">Sillas Seleccionadas</p>
                            <p style="font-size: 12px;">{{stringSillas}}</p>
                        </div>
                    </tr>
                </tbody>
            </table>
            <p *ngIf = "cargado"><b>TOTAL:</b> {{compra.total}}</p>
        </div>
        <button class="boton" routerLink = "/home">Terminar</button>
    </div>
    <div class="carrusel">
        <app-carrusel></app-carrusel>
    </div>
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>